// Main Sass file
// Variables
$black: #111;
$radius: 4px;
$transition: all .25s ease-in-out;

html,
body {
  min-height: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-size: 100%;
}

.gallery-container {
  padding-top: .9375rem;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.875rem;
}

.gallery-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: $radius;
}

.card-icon-open {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: $transition;

  &:focus,
  &:hover {
    color: $black;
  }
}

.gallery-thumbnail:focus ~ .card-icon-open,
.gallery-thumbnail:hover ~ .card-icon-open,
.gallery-thumbnail ~ .card-icon-open:focus,
.gallery-thumbnail ~ .card-icon-open:hover {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(21,21,21,.75);
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
  padding: 0;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: $radius;
  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 1.5rem;
  color: $black;
  transition: $transition;

  &:focus,
  &:hover {
    color: #fff;
  }
}












$magenta: #6b0a3a;
$green: #60a568;
$greenLight: lighten($green, 10%);

@mixin dotBg($dotColor, $bgColor, $size) {
  background-color:$bgColor;
  background-image: radial-gradient($dotColor 15%, transparent 16%),
  radial-gradient($dotColor 15%, transparent 16%);
  background-size:$size*2 $size*2;
  background-position: 0 0, $size $size;
}


body {
  color: black;
  background-color: $magenta;
  padding: 20px 30px;
  font-family: sans-serif;
}

#user-profile {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 2px 5px #000;
  border: 1px solid #000;
  @include dotBg(darken($green, 5%), $green, 30px);

  hr {
    margin: 20px auto;
    width: 50px;
    border: 1px solid $magenta;
    background-color: transparent;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;

  }

  p {
    font-size: 14px;
  }

  .top, .bottom {
    padding: 30px;

  }

  .bottom {

    background-color: rgba(white, 0.3);
    text-align: left;
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    margin-bottom: 15px;
    border: 1px solid #000;
    img {
      width: 100%;
    }
  }
}




























.topbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  background: #48b5e9;
  width: 100%;
  padding: 0 25px;

  height: var(--topbar-height);
  line-height: var(--topbar-height);
  color: #fff;

  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;

    line-height: 40px;
    h1 {
      font-size: 28px;
    }
  }
  section {
    position: absolute;
    top: 0px;
    right: 25px;
  }
}
